body {
    background: #007A7A;
}

.novely-header {
    color: #FEA02F;
    border-radius: 10px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.nav-text {
    color:#FEA02F;
    font-size: 19;
    font-weight: bold;
}

.nav-link {
    color: #FEA02F !important;
}

.orange-text {
    color: #FEA02F;
}

li { 
    cursor: pointer; 
}

.footer-text {
    color: #FEA02F;
}

.footer-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
}
