@font-face {
    font-family: "oldNewspaperTypes";
    src: local("oldNewspaperTypes"), url('../fonts/old_newspaper_types.ttf');
}

body {
    font-family: "oldNewspaperTypes";
}

.orange-text {
    color: #FEA02F;
}

.orange-background{
    background-color: #FEA02F;
}

a { 
    cursor: pointer; 
}

.green-input::placeholder {
    color: #FEA02F;
}

.orange-placeholder::placeholder{
    color: #FEA02F;
}

.orange-placeholder{
    color: white;
}

.green-input{
    color:white;
}

.light-green-input::placeholder{
    color: #2EBCBC;
}

.green-input-placeholder::placeholder{
    color: #007A7A;
}

.light-green-input{
    color: white;
}

.light-green-text {
    color: #2EBCBC;
}

.light-green-bg {
    background-color: #2EBCBC;
}

.orange-border {
    border: 2px solid #FEA02F;
}

.borderless-button {
    border-color: transparent;
}

.green-text {
    color: #007A7A;
}

.green-background{
    background-color:#007A7A;
}

.yellow-background {
    background-color: #F7FF00;
}

.green-transparent-background {
    background-color: rgba(0, 93, 93, 0.9);
}

.rounded-corners {
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    display: block;
}

.horizontal-div::-webkit-scrollbar {
    display: none;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.2);
}

.horizontal-div {
    width: 100%; 
    white-space: nowrap; 
    position: relative; 
    overflow-x: scroll; 
    overflow-y: hidden;  
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.audio-div {
    float: none; 
    display: inline-block; 
    width:220px;
}


