{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'css/shared_styles.css' %}/>
{% endblock css %}

{% block content %}
     <div>
        <h3 class="orange-text ml-4 mt-3">Listen to your favourite Novel</h3>
        <div class="mb-3 ml-2" style="background-color: #FEA02F; max-width:250px; height:3px;"></div>

        <div class="d-flex pl-4">
            <input class="green-input-placeholder borderless-button rounded-corners light-green-bg" placeholder="Search..." style="width:400px;">
            <div class="green-background shadow py-2 px-2 rounded-corners ml-2">
                <img src="{% static 'listen/images/search.svg' %}" height="32px" width="32px">
            </div>
        </div>

        <div class="horizontal-div black-background mt-3 mb-2">
            <h5 class="orange-text ml-4">Already started</h5>
            {% for number in range %}
                <a href="{% url 'listen-audio' %}"><div class="card shadow green-background mb-4 audio-div">
                    <img class="card-img-top" alt="sample image" src="{% static 'listen/images/sample_book.png' %}" height=160>
                    <div class="card-body">
                        <h5 class="card-title orange-text">Title here</h5>
                        <h6 class="orange-text">Author here </h6>
                    </div>
                </a></div>
            {% endfor %}    
        </div>

        <div class="horizontal-div mt-1 mb-2">
            {% for number in range %}
                <a href="{% url 'listen-audio' %}"><div class="card shadow green-background mb-4 audio-div">
                    <img class="card-img-top" alt="sample image" src="{% static 'listen/images/sample_book.png' %}" height=160>
                    <div class="card-body">
                        <h5 class="card-title orange-text">Title here</h5>
                        <h6 class="orange-text">Author here </h6>
                    </div>
                </a></div>
            {% endfor %}    
        </div>

        <div class="horizontal-div mt-1 mb-2">
            {% for number in range %}
                <a href="{% url 'listen-audio' %}"><div class="card shadow green-background mb-4 audio-div">
                    <img class="card-img-top" alt="sample image" src="{% static 'listen/images/sample_book.png' %}" height=160>
                    <div class="card-body">
                        <h5 class="card-title orange-text">Title here</h5>
                        <h6 class="orange-text">Author here </h6>
                    </div>
                </a></div>
            {% endfor %}    
        </div>

        <div class="horizontal-div mt-1 mb-4">
            {% for number in range %}
                <a href="{% url 'listen-audio' %}"><div class="card shadow green-background mb-4 audio-div">
                    <img class="card-img-top" alt="sample image" src="{% static 'listen/images/sample_book.png' %}" height=160>
                    <div class="card-body">
                        <h5 class="card-title orange-text">Title here</h5>
                        <h6 class="orange-text">Author here </h6>
                    </div>
                </a></div>
            {% endfor %}    
        </div>
    </div>

{% endblock content %}