{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'css/shared_styles.css' %}>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
{% endblock css %}

{% block script %}
    {% load static %}

    <script>
        var audio_url = "{{audio.audio_url}}"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'listen/js/listen.js' %}"></script>
{% endblock script %}

{% block content %}

    <button class=" borderless-button green-background rounded-corners shadow my-2 ml-4 py-2">
        <a class="orange-text"><img src="{% static 'publish/images/left_arrow.svg'%}" width=20 height=20> Get Back</a>
    </button>
    <div class="d-flex ml-4 my-3">
        <img class="mr-4" src="{{audio.audio_cover_url}}" alt="" width=200px height=200px>
        <div class="d-flex flex-column">
            <h2 class="orange-text">{{audio.title}}</h2>
            <h4 class="orange-text">by {{audio.author}}</h4>
            <h4 class="light-green-text">voice {{audio.voice}}</h4>
            <button class=" borderless-button green-background rounded-corners shadow my-2 py-2" type="buton" data-toggle="modal" data-target="#playContent">
                <a class="orange-text"><img src="{% static 'publish/images/play_button.svg'%}" width=20 height=20> Listen</a>
            </button>
        </div>
    </div>

    <div class="d-flex mx-4 my-3 light-green-text">
        {{audio.description}}
    </div>

    <div class="d-flex justify-content-center">
        <a>
            <div class="orange-border green-background orange-text rounded-corners my-2 py-2 px-4">
                Report violation!
            </div>
        </a>
    </div>
    

{% endblock content %}

{% block modal %}

    </div>
        <div class="modal fade" id="novelyGold" role="dialog" tabindex="-1" aria-labelledby="lable" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content shadow rounded-corners">
                    <div class="modal-body green-background">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col align-items-center">
                                    <img src="{% static 'images/logo_circles.png' alt="logo circles"%}" width=10 height=15><span class="nav-text">Novely Gold</span></img>
                                    <h5 class="orange-text">The content you want to hear is limited. To listen to it, access all the contents</h5>
                                    <div class="d-flex justify-content-center">
                                        <a href={% url 'subscriptions' %}>
                                            <button class="green-text borderless-button mt-3 orange-background rounded-corners shadow py-2 px-5">
                                                I want All contents
                                            </button>
                                        </a>
                                    </div>   

                                </div>
                            </div>
                        </div>
                    <div>
                </div>
            </div>
        </div>
    </div>

     </div>
        <div class="modal fade" id="playContent" role="dialog" tabindex="-1" aria-labelledby="lable" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content shadow rounded-corners">
                    <div class="modal-body green-background">
                        <div class="container-fluid ">
                            <div class="d-flex">
                                <a id="rewind"><img src="{% static 'listen/images/rewind.svg' %}" height=50 width=50></a>
                                <a id="play" class="align-self-center ml-2"><img src="{% static 'listen/images/play.svg' %}" height=30 width=30></a>
                                <a id="forward" class="mr-2"><img src="{% static 'listen/images/forward.svg' %}" height=50 width=50></a>
                                <a id="fast_forward"><img src="{% static 'listen/images/fast_forward.svg' %}" height=50 width=50></a>
                                <div class="ml-2 d-flex flex-column mt-3 flex-grow-1">
                                    <div id="slider"></div>
                                    <div id="duration" class="light-green-text align-self-end mt-1"></div>
                                </div>
                            </div>
                        </div>
                    <div>
                </div>
            </div>
        </div>
    </div>

{% endblock modal %}