{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'publish/css/publish-styles.css' %}">
{% endblock css %}

{% block content %}
    <button class=" borderless-button green-background rounded-corners shadow my-2 ml-3 py-2">
        <a class="orange-text"><img src="{% static 'publish/images/left_arrow.svg'%}" width=20 height=20> Get Back</a>
    </button>

    <div class="ml-3 mt-3">
        <h5 class="orange-text">STATISTICHE</h5>

        <div class="d-md-flex">

            <a>
                <div class="d-md-flex flex-column shadow align-items-center rounded-corners justify-content-between py-5" style="height:200; width: 200;">
                    <h6 class="light-green-text">Last week</h6>
                    <h1 class="light-green-text">+30 €</h1>
                </div>
            </a>

            <a>
                <div class="d-md-flex flex-column mx-5 shadow align-items-center rounded-corners justify-content-between py-5" style="height:200; width: 200;">
                    <h6 class="light-green-text">Last week</h6>
                    <div class="d-md-flex">
                        <h1 class="light-green-text mr-2">50</h1>
                        <img src={% static 'publish/images/people.svg' %} width=50 height=50>
                    </div>
                </div>
            </a>

            <a>
                <div class="d-md-flex flex-column shadow align-items-center rounded-corners justify-content-between py-5" style="height:200; width: 200;">
                    <h6 class="light-green-text">Last week</h6>
                    <div class="d-md-flex">
                        <h1 class="light-green-text mr-2">50</h1>
                        <img src={% static 'publish/images/clock.svg' %} width=50 height=50>
                    </div>
                </div>
            </a>
        </div>

        <a><button class="green-text borderless-button orange-background rounded-corners shadow my-2 my-3 py-2 px-3">
            Promote content
        </button></a>
    </div>

    <hr class="light-green-bg" style="height:2px; width:70%">

    <div class="ml-5">
        <h5 class="orange-text mt-2">Copertina, titolo, autore, voce</h5>

        <div class="d-flex justify-content-start">
            <div>
                <img src="{% static 'publish/images/image_placeholder.svg' %}" width=180 height=180>
                <a class="add"><img class="green-transparent-background px-2 py-2 rounded-corners" src="{% static 'publish/images/add.svg' %}" width=40 height=40></a>
            </div>

            <div class='container mx-0' style="width: 200px; overflow:wrap" >
                <div class="d-flex flex-column">
                    <div class="">
                        <input class=" green-transparent-background borderless-button rounded-corners orange-input pl-2" placeholder="Title">
                    </div>
                    <div class="my-3 d-flex">
                        <label class="orange-text " for="author">by</label><input class="green-transparent-background borderless-button rounded-corners orange-input" placeholder="Author" id="author">            
                    </div>
                    <div class="d-flex">
                        <label class="light-green-text" for="voice">voice</label><input class="green-transparent-background borderless-button rounded-corners light-green-input" placeholder="Voice" id="voice">
                    </div>
                </div>
                
            </div>
        </div>

        <h5 class="orange-text mt-2">Descrizione del contenuto</h5>

        <div class="container-fluid mx-0">
            <div class="row mr-5">
                <input class="col-12 green-transparent-background borderless-button rounded-corners light-green-input" placeholder="Scrivi qui la descrizione" style="height:100px;">
            </div>
        </div>

        <h5 class="orange-text mt-2">File audio (mp3)</h5>

        <div class="d-flex">
            <input class="green-transparent-background borderless-button  rounded-corners light-green-input mr-1 pl-2" style="150px" placeholder="vuoto">
            <a><img class="green-transparent-background px-2 py-2 rounded-corners" src="{% static 'publish/images/add.svg' %}" width=40 height=40></a>
        </div>

        <div class="d-flex align-items-center">
            <div style="width:20px; height:20px;" class="orange-background rounded-corners mr-2">
            </div>
            <h5 class="light-green-text  mt-2">Il contenuto è adatto ad un solo pubblico adulto</h5>
        </div>

        <div class="d-flex mt-3">
            <div class="d-flex orange-border rounded-corners" style="height: 40px">
                <div class="orange-background px-2">
                    <h6 class="green-text my-2">Gratis</h6>
                </div>
                <div class="green-background px-2">
                    <h6 class="orange-text my-2 ">Royalties</h6>
                </div>
            </div>

            <div style="max-width: 400px;" class="ml-2">
                <h6 class="light-green-text">chiunque potrà accedere al tuo contenuto in questo modo non riceverai alcun guadagno</h6>
            </div>
        </div>
        
        <button type='submit' class=" orange-background borderless-button rounded-corners px-2 py-1 my-5 submit-btn"><a class="green-text" href={% url 'accept-license' %}>Pubblica modifiche </a></button>
            
    </div>

    
    


{% endblock content %}