{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'publish/css/publish-styles.css' %}>
{% endblock css %}

{% block content %}
    <div class="ml-4 mt-3">
        <h1 class="orange-text">Tutto fatto!</h1>
        <h1 class="orange-text">Ora condividi i tuoi contenuti</h1>
    </div>

    <div class="d-flex justify-content-center">
    

        <a><img class="mr-4" src={% static 'publish/images/mail.svg' %} width=60 height=60></a>
        <a><img class="mr-4" src={% static 'publish/images/copy.svg' %} width=60 height=60></a>
        <a class="green-text orange-background rounded-corners px-4 py-1 " style="font-size:25px; height:45px;">
            Share
        </a>
        <a><img class="ml-4" src={% static 'publish/images/whatsapp.svg' %} width=60 height=60></a>
        <a><img class="ml-4" src={% static 'publish/images/facebook.svg' %} width=60 height=60></a>
        <a><img class="ml-4" src={% static 'publish/images/instagram.svg' %} width=60 height=60></a>
    </div>

    <hr class="light-green-bg" style="height:2px; width:50%">

    <div class="d-flex ml-4 my-3">
        <img class="mr-4 rounded-corners" src="{{audio_file.audio_cover_url}}" alt="" width=200px height=200px>
        <div class="d-flex flex-column">
            <h2 class="orange-text">{{audio_file.title}}</h2>
            <h4 class="orange-text">by {{audio_file.author}}</h4>
            <h4 class="light-green-text">voice {{audio_file.voice}}</h4>
            <button class=" borderless-button green-background rounded-corners shadow my-2 py-2">
                <a class="orange-text"><img src="{% static 'publish/images/play_button.svg'%}" width=20 height=20> Torna indietro</a>
            </button>
        </div>
    </div>

    <div class="d-flex mx-4 my-3 light-green-text">
       {{audio_file.description}}
    </div>
    
{% endblock content %}
