.auth-header {
    color: #007A7A;
    background-color: #FEA02F;
    border-radius: 10px;
}

input.auth-input {
    color: black;
    align-content: center;
    background-color: #2EBCBC;
    border-radius: 10px;
    border-color: transparent;
    max-width: 300px;
    margin: auto;
}

.green-text {
    color:  #007A7A;
}

.orange-text {
    color: #FEA02F;
}

.orange-background {
    background-color: #FEA02F;
}

.submit-btn {
    box-shadow: none;
    border: #FEA02F;
    font-size: x-large;
}

.accedi-btn {
    background-color: transparent;
    color: #FEA02F;
    box-shadow: none;
    border-color: transparent;
    font-size: larger;
}

.iscriviti-btn {
    background-color: transparent;
    color: #FEA02F;
    box-shadow: none;
    border-color: transparent;
    font-size: larger;
}

.footer-text {
    color: #FEA02F;
}

.error-list {
    list-style: none;
    list-style-type: none;
    color: red;
}

.image-header {
    height: 250px;
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../images/login_background.png");
}

.green-background{
    background-color:#007A7A;
}

.rounded-corners {
    border-radius: 8px;
}

.rounded-corners-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rounded-corners-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;;
}


